@import 'src/variables';

.user-login-container {
    position: fixed; top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    justify-content: center;
    overflow: auto;
    background-color: $theme-white;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto 0rem;

    & > div {
        width: 350px;

        @media only screen and (max-width: 360px) {
            width: 310px;
        }
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-family: 'vyasa', sans-serif;
    font-size: 28px;
    padding: 16px 0px 32px 0px;

    img {
        height: 42px;
        margin-right: 8px;
    }
}

.form-container {
    background-color: #fafafa;
    border-radius: 3px;
    padding: 32px 40px;

    @media only screen and (max-width: 360px) {
        padding: 24px;
    }

    button {
        justify-content: center;
        width: 100%;
        margin-top: 0.5rem;
    }

    a {
        display: block;
        text-align: center;
        font-weight: 400;
        color: $theme-purple;
        margin-top: 1.5rem;
    }
}

.option-container {
    text-align: center;
    background-color: #fafafa;
    border-radius: 3px;
    padding: 32px 40px;
    margin: 1rem 0rem;

    @media only screen and (max-width: 360px) {
        padding: 24px;
    }

    strong {
        font-weight: 500;
    }
}

.error-container {
    cursor: pointer;
    position: fixed; bottom: 32px; right: 16px;
    color: $theme-white;
    background: $theme-red;
    padding: 16px 24px;

    strong {
        font-size: 22px;
        font-weight: 500;
    }

    transition: opacity 0.25s ease-out;
    &.hidden {
        opacity: 0;
    }
}
