<h1>API Call Type</h1>

<div class="group-header">General</div>
<a  class="grouped"[routerLink]="['/compound']" [routerLinkActive]="'active'">Compound Rendering</a>
<a  class="grouped"[routerLink]="['/search']" [routerLinkActive]="'active'">Document Search</a>

<div class="group-header">Question Answering</div>
<a class="grouped" [routerLink]="['/qa']" [routerLinkActive]="'active'">Data Fabric Q/A</a>
<a class="grouped" [routerLink]="['/qa-custom']" [routerLinkActive]="'active'">Custom Text Q/A</a>
<a class="grouped" [routerLink]="['/ner']" [routerLinkActive]="'active'">Named Entity Recognition</a>
<a class="grouped" [routerLink]="['/radar']" [routerLinkActive]="'active'">Radar</a>

<div class="group-header">Analytics</div>
<a class="grouped" [routerLink]="['/toxicity']" [routerLinkActive]="'active'">Toxicity Prediction</a>
<a class="grouped" [routerLink]="['/grouping']" [routerLinkActive]="'active'">Term Grouping</a>
