@import 'src/variables';

app-loading-indicator {
    display: block;
    margin-bottom: 12px;
}
.answer-container:not(:last-child) {
    margin-bottom: 24px;
}
.answer-title {
    font-size: 20px;
    font-weight: 700;
}